.organism_contPersonaje {
    /* background: pink; */
    height: calc(100% - 40px);
    width: 100%;

    & aside {
        /* background: greenyellow; */
        width: calc(100% - 5%);
        height: calc(100% - 70px);
        display: flex;
        margin: auto;
        
        & section {
            /* background: rebeccapurple; */
            width: 50px;
            height: 100%;
        }
        & nav {
            /* background: rgb(51, 124, 153); */
            width: calc(100% - 100px);
            height: 100%;
            display: flex;
        }
    }

    & article {
        width: calc(100% - 5%);
        /* background: orange; */
        height: 70px;
        margin: auto;
    }
}