body {
    background: #DFDCCB;
    width: calc(100% - 0px);
    color: #33312C;
    overflow: hidden;
    display: flex;
    height: 100vh;
    /* background: darkcyan; */
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}
::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra de desplazamiento */
}
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}

@font-face {
font-family: 'myfont_robot_bold';
src: url('/static/fonts/Roboto-Bold.ttf') format('truetype')
}
@font-face {
font-family: 'myfont_robot_normal';
src: url('/static/fonts/Roboto-Regular.ttf') format('truetype')
}
@font-face {
font-family: 'quicksand_light';
src: url('/static/fonts/Quicksand-Regular.ttf') format('truetype')
}
@font-face {
font-family: 'utendo_semibold';
src: url('/static/fonts/Utendo-Semibold.ttf') format('truetype')
}
@font-face {
font-family: 'code_latin';
src: url('/static/fonts/MPLUSCodeLatin-Medium.ttf') format('truetype')
}

:root{

    /* COLORES */
    --color-general_3: #F4C42A;
    --color-general_4: #302D28;
    --color-general_4_opacity: #302d2855;


    /* ESTILOS DE FUENTES */
    --font-roboto_blod: 'myfont_robot_bold';
    --font-roboto_normal: 'myfont_robot_normal';
    --font-quicksand_light: 'quicksand_light';
    --font-utendo_semibold: 'utendo_semibold';
    --font-code_latin: 'code_latin';

    /* TAMAÑOS DE TEXTO */
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
}

.style_glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.176)rgba(255, 255, 255, 0.144));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 2px 10px 0 #0000002d;
}